* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, #f5f5f5, #999999);
}

.titulo {
  position: relative;
  left: -100%;
  animation: slideIn 1s ease-in-out forwards;
}

p {
  width: 90%;
  text-align: start;
  line-height: 1.5;
  margin-left: 1em;
  padding: 10px;
}

.title {
  margin: 0;
  padding: 0;
  align-items: center;
}

.contacto {
  margin-top: 20px;
  padding-bottom: 60px;
}

aside iframe {
  width: 100%;
  padding: 1.5em;
}

.viajeros div {
  padding: 1em;
}

.ruta_evento {
  padding-top: 1.5em;
}

.evento {
  margin-left: 1em;
}

.asidebar {
  grid-area: publicidad;
}

.eventos {
  max-width: 80%;
  height: auto;
}
.eventos .carousel {
  margin-left: 10em;
}

.entrevistas-container {
  max-width: 350px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-img-top {
  max-width: 80%;
  height: auto;
  margin-top: 80px;
}

.entrevistas {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container_a1 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.container_a1 .container_a2 {
  margin: 10px;
}

header {
  background-color: #0D7DED;
  width: 100%;
}

footer {
  background-color: #0D7DED;
  margin-top: 2em;
  bottom: 0;
  width: 100%;
  padding: 1.5em;
}

header h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
  color: rgb(41, 40, 40);
}

h2 {
  margin: 0;
  padding: 0.2em;
  width: 100%;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 2em;
  text-align: center;
  color: #999999;
  background-color: rgb(230, 230, 240);
  transition: color 0.3s ease;
}
h2:hover {
  color: rgb(103, 168, 241);
}

h3 {
  margin: 0;
  padding: 1em;
  width: 100%;
  font-size: 1.8em;
  font-weight: 480;
  text-align: left;
  color: #444;
}
h3:hover {
  color: #0D7DED;
  font-size: 1.5em;
}

.article1 H3 {
  text-align: center;
}

.article2 H3 {
  text-align: center;
}

h4 {
  color: #333;
  transition: color 0.3s ease;
  font-weight: 450;
}
h4:hover {
  color: #f5f5f5;
}

.icono {
  width: 2.5em;
  padding-right: 10px;
  animation-duration: 3s;
  animation-name: miAnimacion;
  animation-iteration-count: infinite;
}

button {
  margin-top: 10px;
  background-color: #0D7DED;
  font-weight: 600;
}

.btn-flag {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-left: 2rem;
  background-color: rgb(41, 40, 40);
  color: rgb(233, 236, 233);
  position: relative;
  border-radius: 0;
}
.btn-flag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1rem;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid rgb(41, 40, 40);
}

.flag-text {
  position: relative;
  z-index: 1;
}

@keyframes miAnimacion {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes slideIn {
  0% {
    left: -10%;
  }
  100% {
    left: 0;
  }
}
@keyframes moveGif {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
article img {
  width: 90%;
}

.publicidad img {
  width: 90%;
  padding: 1.5em;
  animation: moveGif 3s infinite;
}

.carousel img {
  width: 80%;
  padding: 1.5em;
}

.viajeros img {
  padding-top: 1.5em;
  width: 20em;
}

.entrevistas img {
  padding-top: 1em;
  padding-bottom: 1.5em;
  width: 15em;
  height: auto;
}

.entrevistas div {
  width: 30em;
}

.ruta_evento img {
  width: 15em;
  height: auto;
}

.evento img {
  padding-top: 1.5em;
  width: 80%;
  height: auto;
}

.asidebar img {
  width: 100%;
  padding-top: 5em;
}

.titulo {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 20px;
  font-size: 2em;
  color: rgb(41, 40, 40);
}

.viajeros-links {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.entrevistas-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5em;
}

.entrevista {
  display: block;
  margin: 5 auto;
  margin-left: 2em;
  width: 25%;
  max-width: 100%;
  height: auto;
}

.publicidad2 img {
  margin-bottom: 50px;
  width: 370px;
  height: auto;
}

.ruta-semana-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  margin-left: 2em;
}

@media (max-width: 768px) {
  .secciones .viajeros-links {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .secciones .entrevistas-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .secciones .entrevista img {
    display: block;
    margin: 5 auto;
    margin-left: 2em;
    max-width: 100%;
    height: auto;
  }
  .secciones .ruta-semana-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    margin-left: 2em;
  }
  .secciones .carousel {
    width: 100%;
    height: auto;
    margin-left: 2em;
  }
}
.grid_container {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "encabezado" "title" "article1" "article2" "sidebar" "publicidad" "footer";
}

header {
  grid-area: encabezado;
}

.title {
  grid-area: title;
}

.article1 {
  grid-area: article1;
}

.article2 {
  grid-area: article2;
}

aside {
  grid-area: sidebar;
}

.publicidad {
  grid-area: publicidad;
}

footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .grid_container {
    text-align: center;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-areas: "encabezado encabezado encabezado" "title title title" "article1 article2 sidebar" "publicidad publicidad publicidad" "footer footer footer";
  }
}/*# sourceMappingURL=style.css.map */