* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Header h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    font-size: 1.3em;
    text-align: left;
}

.icono {
    width: 2.5em;
    padding-right: 10px;
}

.titulo {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: rgb(41, 40, 40);
}

.title {
    margin: 0;
    padding: 0;
    align-items: center;
}
.container>* {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.container>header,
.container>footer {
    background-color: #0D7DED;
}

header {
    width: 100%;
}

article img {
    width: 90%;
}

.article1 H3{ text-align: center;}
.article2 H3{ text-align: center;}

aside iframe {
    width: 100%;
}

.publicidad img {
    width: 90%;
}

.footer {
    width: 100%;
}

.container {    
    width: 100%;
    max-width: fit-content;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "encabezado"
        "title"
        "article1"
        "article2"
        "sidebar"
        "publicidad"
        "footer"
}

header {
    grid-area: encabezado;
}

.title {
    grid-area: title;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

aside {
    grid-area: sidebar;
}

.publicidad {
    grid-area: publicidad;
}

footer {
    grid-area: footer;
}

@media (min-width: 768px) {
    .container {       
        text-align: center;
        max-width: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 34% 33% 33%;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "title title title"
            "article1 article2 sidebar"
            "publicidad publicidad publicidad"
            "footer footer footer"
    }
}

@media (min-width: 1024px) {
    .container {       
        text-align: center;
        max-width: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 34% 33% 33%;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "title title title"
            "article1 article2 sidebar"
            "publicidad publicidad publicidad"
            "footer footer footer"
    }
}

/*Aqui comienza CSS de Secciones*/

.viajeros img {
    padding-top: 1.5em;
    width: 15em
}
.viajeros div {
    padding: 1em;
}

.entrevistas img {
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 15em;
    height: auto;
}

.ruta_evento img {
    width: 15em;
    height: auto;
}

.evento img {
    padding-top: 1.5em;
    width: 80%;
    height: auto;
}

.asidebar img {
    width: 100%;
    padding-top: 5em;

}

.gridcontainer>* {
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #0D7DED;
}

.articulo {
    grid-area: articulos;
    background-color: rgb(230, 230, 240);
}
.ruta_evento{
    padding-top: 1.5em;
}

.asidebar {
    grid-area: publicidad;
    background-color: rgb(233, 236, 233);
}

.footer {
    grid-area: footer;
    background-color: #0D7DED;
}

.gridcontainer {
    display: grid;
    max-width: fit-content;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-areas:

        "header"
        "articulos"
        "publicidad"
        "footer";
}

@media (min-width:1024px) {
    .gridcontainer {
        grid-template-columns: 75% 23%;
        grid-template-areas:
            "header header"
            "articulos publicidad"
            "articulos publicidad"
            "articulos publicidad"
            "footer footer";
    }

    .viajeros {
        margin-left: 2.5em;
        display: flex;
        flex-direction: row;
        width: 2.5em;
        gap: 5em
    }

    .entrevistas {
        display: flex;
        flex-direction: row;
        gap: 5em
    }

    .ruta_evento {
        display: flex;
        flex-direction: row;
        gap: 5em
    }

}