* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.titulo {
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: rgb(41, 40, 40);
}

Header h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

.icono {
    width: 2.5em;
    padding-right: 10px;
}

.title {
    margin: 0;
    padding: 0;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    font-size: 1.5em;
    text-align: left;
}

.container>header,
.container>.content,
.container>.main,
.container>.article,
.container>.sidebar,
.container>.publicidad,
.container>footer,
.container>.div {
    padding: 20px;
}

.container>header,
.container>footer {
    background-color: #0D7DED;
}

header {
    width: 100%;
}

.publicidad {
    display: flex;
    flex-direction: column;
}

.publicidad img {
    width: 90%;
}

.footer {
    width: 100%;
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articulos img {
    width: 80%;
}

.entrevistas img {
    width: 20em;
}

.evento img {
    width: 90%;
}

.ruta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.ruta img {
    width: 80%;
}

.container {
    width: 100%;
    min-width: 320px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: 100%;
    grid-template-areas:
        "encabezado"
        "titulo"
        "articulos"
        "entrevistas"
        "ruta "
        "publicidad "
        "evento"
        "footer"
}

header { grid-area: encabezado;}
.titulo { grid-area: titulo;}
.articulos { grid-area: articulos;}
.entrevistas { grid-area: entrevistas;}
.ruta { grid-area: ruta;}
.publicidad { grid-area: publicidad;}
.evento { grid-area: evento;}
footer {grid-area: footer;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1020px;
        margin: 1.6em auto;
        display: grid;
        gap: 1.6em;
        grid-template-columns: 30% 30% 30%;
        grid-template-areas:
            "encabezado encabezado "
            "titulo titulo "
            "articulos publicidad"
            "entrevistas publicidad"
            "ruta evento"
            "footer footer"
    }


    .articulos {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
    }

    .ruta {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        gap: 2em;
    }




}