* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;}

.titulo {
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    color: rgb(41, 40, 40);}

Header h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;}

.icono {
    width: 2.5em;
    padding-right: 10px;}

.title {margin: 0;
    padding: 0;   
    align-items: center;}

h2 {
    margin: 0;
    padding: 0;   
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    text-align: center;}

    .container>header,
    .container>.content,
    .container>.main,
    .container>.article,
    .container>.sidebar,
    .container>.publicidad,
    .container>footer,
    .container>.div { padding: 20px;}
    
    .container>header,
    .container>footer { background-color: #0D7DED;}
    
    header {width: 100%;}
    
    article img {width: 100%;}
    
    aside iframe {width: 100%;}
    
    .publicidad img { width: 90%;}
    
    .footer { width: 100%;}
    
.container {
    width: 100%;
    min-width: 320px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: 100%;
    grid-template-areas:
        "encabezado"
        "title"        
        "article1"
        "article2"
        "sidebar"
        "publicidad"
        "footer"
}

header { grid-area: encabezado;}

.title {grid-area: title;}

.article1 {grid-area: article1;}

.article2 {grid-area: article2;}

aside {grid-area: sidebar;}

.publicidad {grid-area: publicidad;}

footer {grid-area: footer;}

@media (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1020px;
        margin: 1.6em auto;
        display: grid;
        gap: 1.6em;
        grid-template-columns: 30% 30% 30%;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "title title title"
            "article1 article2 sidebar"
            "publicidad publicidad publicidad"
            "footer footer footer"
    }
}

@media (min-width: 1024px) {
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 1.6em auto;
        display: grid;
        gap: 1.6em;
        grid-template-columns: 30% 30% 30%;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "title title title"
            "article1 article2 sidebar"
            "publicidad publicidad publicidad"
            "footer footer footer"
    }
}