// colores
$coloruno:#0D7DED;
$colordos:rgb(230, 230, 240);
$colortres: rgb(233, 236, 233);
$colorcuatro: rgb(41, 40, 40);
$colorcinco:#444;
$colorseis:#333;
$colorsiete:rgb(103, 168, 241);
$colorocho:#f5f5f5;
$colornueve:#e4e1e1;
$colordiez:#999999;


// pantallas
$celular:375px;
$tablet:768px;
$desktop:1024px;

// estilos de fondo
$gray-background-1: #f5f5f5;
$gray-background-2: #f5f5f5;
$gray-background-3: #999999;



