body {
    text-align: center;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, $colorocho, $colordiez);
}
.titulo { 
    position: relative;
    left: -100%;
    animation: slideIn 1s ease-in-out forwards;}

p {
    width: 90%;
    text-align:start;
    line-height: 1.5;
    margin-left: 1em;
    padding: 10px;
}

.title {
    margin: 0;
    padding: 0;
    align-items: center;
}

.contacto{
    margin-top: 20px;
    padding-bottom: 60px;
}

aside iframe {
    width: 100%;
    padding: 1.5em;
}

.viajeros div {
    padding: 1em;
}

.ruta_evento {
    padding-top: 1.5em;    
}

.evento{
    margin-left: 1em;
}

.asidebar {
    grid-area: publicidad;    
}
.eventos {
    max-width: 80%;
    height: auto;  
    .carousel{
        margin-left: 10em;
    }   
}

.entrevistas-container{
    max-width: 350px;             
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .card-img-top {
      max-width: 80%;
      height: auto;
      margin-top: 80px;
    }
  }

  @mixin article-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  .entrevistas {
    @include article-text;
  }
  
  .container_a1{
     margin-top: 10px;
     margin-bottom: 20px; 
   .container_a2{
     margin: 10px;
 }
}


