@keyframes miAnimacion {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
  }
  
@keyframes slideIn {   
   
  0% { left: -10%;}
  100% {left: 0;}
  }


@keyframes moveGif {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}