article img {
    width: 90%;
}
.publicidad img {
    width: 90%;
    padding: 1.5em;
    animation: moveGif 3s infinite;
}
.carousel img{
    width: 80%;
    padding: 1.5em;}

.viajeros img {
    padding-top: 1.5em;
    width: 20em
}
.entrevistas img {
    padding-top: 1em;
    padding-bottom: 1.5em;
    width: 15em;
    height: auto;
}
.entrevistas div{
    width: 30em;
}
.ruta_evento img {
    width: 15em;
    height: auto;
}
.evento img {
    padding-top: 1.5em;
    width: 80%;
    height: auto;
}
.asidebar img {
    width: 100%;
    padding-top: 5em;

}
